[submodule "vendor/RxCpp"]
	path = vendor/RxCpp
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/skia"]
	path = vendor/skia
	url = https://github.com/google/skia.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
